.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scan-comp {
  width: 280px;
  height: 300px;
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid rgb(146, 236, 86);
  padding: 30px 20px;
  border-radius: 15px;
  margin-top: 130px;
}

.retry-btn {
  color: darkblue;
  font-size: 15px;
  font-weight: bolder;
  border: 2px solid seagreen;
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.retry-btn:hover {
  background-color: lightgoldenrodyellow;
  color: rgb(235, 22, 22);
}

.output {
  border: 2px solid salmon;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 5vh;
  font-size: 20px;
  overflow-wrap: break-word;
}

.result-wrapper {
  margin-top: 150px;
}

.display-txt {
  margin-top: 30px;
}

.loader {
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
